.header {

	background-color: #F1F1F1
	text-align: center;
	padding: 20px
}

.topleft {
	position:absolute;
	top: 8px;
	left: 16px;

}

.background_video{
	position: fixed;
	right: 0;
	bottom: 0;
	min-width: 100%;
	min-height: 100%;
}



body{
	background: #008B8B;
	font-family: times new roman;
	text-align: center;
}

h1 {
	color: white;
}


button {
	height: 30px;
	width: 30%;
	font-size: 20px;
	position: center;
	margin: 13px;
}


input {
	width: 200px;
}

.textbox{
	height: 40px;
	width: 200px;
}

label {
	width: 240px;
	display: inline-block;
}

a{
	color: black;
	text-decoration: none;
}

iframe {
	height: 700px;
	width: 1400px;
}

.dropdown{
	height: 1500px;
	width: 1400px;
  	display: inline-block;
}










